@import "tailwindcss";

/* Versi 4 menggunakan @theme untuk kustomisasi, 
   tapi untuk standar cukup import di atas saja */

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}
